.nav-part{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 140px;
    padding-left: 140px;
}

.nav-part h1{
    color: #ffffff;
    margin-left: 20px;
}

.nav-part a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    padding-left: 20px;
}

.nav-part a:hover{
    color: chocolate;
    font-weight: 600;
}

.nav-title{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media  screen and (max-width:576px){
    .nav-part{
        display: inline-block;
        width: 100%;
        padding: 0;
        height: 100px;
    }
    .nav-btn{
        display: inline-block;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    .nav-part{
        display: inline-block;
        width: 100%;
        padding: 0;
        height: 100px;
    }
}